.about-us {
    padding: 80px 0;
    background: $color-back;

    .container {

        .heading {
            max-width: 790px;
            margin-bottom: 50px;
        }

        .inner {
            display: flex;

            .about-info {
                max-width: 560px;
                margin-right: 40px;

                h3 {
                    margin-bottom: 35px;
                    color: $color-text-black;
                }

                dl {

                    dt, dd {
                        font-family: $font-open;
                        color: $color-text-black;
                    }   

                    dt {
                        box-sizing: border-box;
                        margin: 10px 48px 0 0;
                        float: left;
                        font-size: 21px;
                        font-weight: bold;
                    }

                    dd {
                        margin-bottom: 40px;
                        font-size: 16px;
                    }
                }
            }

            .about-expertise {
                max-width: 490px;

                h3 {
                    margin-bottom: 35px;
                }
                
                p {
                    line-height: 2.21;
                    color: $color-text-grey;
                }
            }
        }
    }
}