.attorney {
    padding: 80px 0 80px;
    background: $color-back;

    .container {
        
        .heading {
            margin-bottom: 50px;
        }

        .team-list {
            display: flex;
            flex-wrap: wrap;

            .team + .team {
                margin-left: 30px;
            }

            .team {

                img {
                    display: block;
                    height: 300px;
                    width: 270px;
                    margin-bottom: 30px;
                }
                
                span {
                    font-family: $font-open;
                    font-size: 14px;
                    line-height: 2.21;
                    letter-spacing: 0.56px;
                    color: $color-text-grey;
                }
            }
        }
    }
}