.clients {
    padding: 80px 0 140px;
    background: url("../../img/clients-back.png"), rgba(1, 1, 1, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .container {
        
        .heading-black {
            margin-bottom: 50px;
        }

        .clients-say {
            display: flex;

            img {
                margin-right: 100px;
                height: 305px;
                width: 370px;
                display: block;
                box-shadow: 20px 20px $color-line;
            }

            .desc-say {
                color: $color-black-h2;

                p {
                    margin:35px 0 40px;
                    position: relative;

                    &::before {
                        content: "“";
                        position: absolute;
                        left: -45px;
                        font-family: $font-play;
                        font-size: 96px;
                        line-height: 0.6;
                        color: rgba(255, 255, 255, 0.25);
                    }
                }

                h3 {
                    line-height: 1.71;
                }

                span {
                    font-family: $font-open;
                    font-size: 14px;
                    letter-spacing: 0.56px;
                }
            }
        }
    }
}