.container {
    max-width: 1170px;
    margin: 0 auto;
}

img {
	height: auto;
	width: 100%;
  }

  .heading {
    padding: 0 16px;
    border-left: 2px solid $color-line;
    h2 {
      margin: 0 0 29px 0;
      font-family: $font-play;
      font-size: 31px;
      letter-spacing: 1.24px;
      color: $color-text-black;
    }
    span {
      font-family: $font-play;
      font-size: 21px;
      letter-spacing: 0.84px;
      color: $color-text-grey;
    }
  }

  .heading-black {
    padding: 0 16px;
    border-left: 2px solid $color-line;
    h2 {
      margin: 0 0 29px 0;
      font-family: $font-play;
      font-size: 31px;
      letter-spacing: 1.24px;
      color: $color-black-h2;
    }
    span {
      font-family: $font-play;
      font-size: 21px;
      letter-spacing: 0.84px;
      color: $color-black-span;
    }
  }

  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    letter-spacing: 0.84px;
}

p, input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
}



body {
  counter-reset: number 0;
  .heading-b {
    position: relative;
    z-index: 0;
    &::before {
      position: absolute;
      top: -50px;
      left: -5px;
      counter-increment: number 1;
      content: "0" counter(number, decimal);
      font-family: $font-open;
      font-size: 195px;
      color: rgba(128, 128, 128, 0.1);
      z-index: -1;
    }
  }
}



