.contact {
    padding: 80px 0;
    background: $color-back;

    .container {
        
        .heading {
            margin-bottom: 70px;
        }

        .contact-wrap {
            max-width: 870px;
            margin: 0 auto;
            padding: 50px 36px 50px 50px;
            display: flex;

            .contact-info {
                height: 365px;
                margin: 20px 70px 0 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;

                .contact-input, .massage {
                    font-style: italic;
                    border: none;
                    border-bottom: 1px solid $color-black-span;
                }

                .massage {
                    height: 83px;
                    resize: none;
                }

                .send-massage {
                    margin: 0 auto;
                    padding: 6px 30px;
                    font-family: $font-play;
                    font-size: 16px;
                    letter-spacing: 0.64px;
                    border: none;
                    border-radius: 30px;
                    background: $color-line;
                    cursor: pointer;
                }
            }

            .map {
                height: 360px;
                width: 360px;
                box-shadow: -22px 22px $color-line;
            }
        }
    }
}