.main-footer {
    width: 100%;
    padding: 32px 0;
    background: #111111;

    .container {
        
        .footer-wrap {
            display: flex;
            justify-content: space-between;
            background-color: inherit;

            .copyright {
                color: #b5b5b5;
            }

            .socials {
                width: 115px;
                display: flex;
                justify-content: space-between;
                
                .socials-link {
                    color: #fbfbfb;
                }   
            }
        }
    }
}

