.hero {

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: $color-back;

        .container {
            
            .header-wrap {
                padding: 49px 0;
                display: flex;
                justify-content: space-between;
                align-items: start;

                .logo, .logo-dot {
                    font-family: $font-play;
                    font-size: 25px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #111111;
                }

                .logo a {
                    color: inherit;
                    .logo-dot {
                        color: $color-line;
                    }
                }

                .nav {
                    width: 656px;
                    display: flex;
                    justify-content: space-between;

                    .nav-link {
                        padding: 14px;
                        font-family: $font-open;
                        font-size: 14px;
                        letter-spacing: 0.56px;
                        text-transform: uppercase;
                        color: #111111;

                        &:hover {
                            border-bottom: 5px solid $color-line;
                        }

                        &:active {
                            border-bottom: 5px solid $color-line;
                        }
                    }
                }
            }
        }
    }
    
    .welcome {
        height: 90vh;
        margin-top: 123px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../../img/stock-photo-177211577.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .container {
            
            .welcome-wrap {
                padding: 60vh 5vw;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .owner {
                    padding: 0 16px;
                    border-left: 2px solid $color-line;

                    .headline {
                        margin-bottom: 16px;
                        font-family: $font-play;
                        font-size: 65px;
                        letter-spacing: 2.6px;
                        color: #fff;
                    }

                    .desc {
                        font-family: $font-open;
                        font-size: 31px;
                        letter-spacing: 1.24px;
                        color: #fff;
                    }
                }

                .contact-link {
                    padding: 16px 46px;
                    font-family: $font-play;
                    font-size: 16px;
                    letter-spacing: 0.64px;
                    color: #111;
                    background-color: $color-line;
                    border-radius: 30px;
                }
            }
        }
    }
}













