.practis {
    padding: 80px 0 20px;
    background: $color-text-black;

    .container {
        
        .heading-black {
            margin-bottom: 80px;
        }

        .practis-areas {
            display: flex;
            flex-wrap: wrap;

            .practis-items {
                width: 380px;
                margin: 0 0 72px 180px;
                position: relative;

                h3 {
                    margin-bottom: 32px;
                    color: $color-back;
                }

                p {
                    color: $color-back;
                }
            }

            .private {

                &::before {
                    content: "\f2b5";
                    @extend %fa-icons;
                    font-weight: normal;
                }
            }

            .labour {

                &::before {
                    content: "\f0ad";
                    @extend %fa-icons;
                    
                }
            }

            .cyber {

                &::before {
                    content: "\f108";
                    @extend %fa-icons;
                }
            }

            .real {
                
                &::before {
                    content: "\f015";
                    @extend %fa-icons;
                }
            }

        }
    }
}