.publications {
    padding: 80px 0 100px;
    background: $color-back;
    .container {
        
        .heading {
            margin-bottom: 50px;
        }

        .publications-list {
            display: flex;
            justify-content: space-between;

            .publications-item {
                width: 370px;
                border-bottom: 2px solid $color-line;

                img {
                    height: 299px;
                    width: 370px;
                    display: block;               
                    margin-bottom: 30px;
                }

                address, span {
                    font-family: $font-open;
                    font-size: 16px;
                    letter-spacing: 0.64px;
                    color: $color-text-black;
                }

                address {
                    margin-bottom: 38px;
                    line-height: 2.21;

                    span {
                        font-style: italic;
                        color: $color-text-grey;
                    }

                    .pub-date {
                        float: right;
                    }
                }

                p {
                    margin-bottom: 40px;
                    color: $color-text-grey;
                }

                .pub-com {

                    &::before {
                        content: "\f086  ";
                        font-family: "Font Awesome 5 Free";
                        font-size: 16px;
                        font-weight: 900;
                        color: $color-text-black;
                    }

                    a {
                        color: $color-text-black;
                    }
                }

                .pub-share {
                    margin-bottom: 32px;
                    float: right;

                    &::before {
                        content: "\f064  ";
                        font-family: "Font Awesome 5 Free";
                        font-size: 16px;
                        font-weight: 900;
                        color: $color-text-black;
                    }

                    a {
                        color: $color-text-black;
                    }
                }
            }
        }
    }
}