.question {
    padding: 80px 0 170px;
    background: $color-text-black;
    .container {
        
        .heading-black {
            margin-bottom: 76px;
        }
        
        .question-wrap {
            width: 500px;
            padding: 46px 46px 66px;
            background: $color-line;
            box-shadow: 0 0 40px rgba($color-line, 0.5);
        }
    }
}