$color-line:#e8bf5d;
$color-back:#ffffff;
$color-text-black:#111111;
$color-text-grey:#666666;
$color-black-h2:#ffffff;
$color-black-span:#b9b9b9;

$font-play:'Playfair Display', serif;
$font-open:'Open Sans', sans-serif;    

%fa-icons {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 38px;
    font-weight: 900;
    left: -80px;
    color: $color-line;
}
