@import "_reset";
@import "_var";
@import "_common";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css');

@import "_hero";
@import "_about-us";
@import "_practis";
@import "_attorney";
@import "_clients";
@import "_publications";
@import "_question";
@import "_contact";
@import "_footer";