@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.practis .container .practis-areas .private::before, .practis .container .practis-areas .labour::before, .practis .container .practis-areas .cyber::before, .practis .container .practis-areas .real::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 38px;
  font-weight: 900;
  left: -80px;
  color: #e8bf5d;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

.heading {
  padding: 0 16px;
  border-left: 2px solid #e8bf5d;
}

.heading h2 {
  margin: 0 0 29px 0;
  font-family: "Playfair Display", serif;
  font-size: 31px;
  letter-spacing: 1.24px;
  color: #111111;
}

.heading span {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  letter-spacing: 0.84px;
  color: #666666;
}

.heading-black {
  padding: 0 16px;
  border-left: 2px solid #e8bf5d;
}

.heading-black h2 {
  margin: 0 0 29px 0;
  font-family: "Playfair Display", serif;
  font-size: 31px;
  letter-spacing: 1.24px;
  color: #ffffff;
}

.heading-black span {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  letter-spacing: 0.84px;
  color: #b9b9b9;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  letter-spacing: 0.84px;
}

p, input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
}

body {
  counter-reset: number 0;
}

body .heading-b {
  position: relative;
  z-index: 0;
}

body .heading-b::before {
  position: absolute;
  top: -50px;
  left: -5px;
  counter-increment: number 1;
  content: "0" counter(number, decimal);
  font-family: "Open Sans", sans-serif;
  font-size: 195px;
  color: rgba(128, 128, 128, 0.1);
  z-index: -1;
}

.hero .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff;
}

.hero .header .container .header-wrap {
  padding: 49px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.hero .header .container .header-wrap .logo, .hero .header .container .header-wrap .logo-dot {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}

.hero .header .container .header-wrap .logo a {
  color: inherit;
}

.hero .header .container .header-wrap .logo a .logo-dot {
  color: #e8bf5d;
}

.hero .header .container .header-wrap .nav {
  width: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .header .container .header-wrap .nav .nav-link {
  padding: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: #111111;
}

.hero .header .container .header-wrap .nav .nav-link:hover {
  border-bottom: 5px solid #e8bf5d;
}

.hero .header .container .header-wrap .nav .nav-link:active {
  border-bottom: 5px solid #e8bf5d;
}

.hero .welcome {
  height: 90vh;
  margin-top: 123px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url("../../img/stock-photo-177211577.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../../img/stock-photo-177211577.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .welcome .container .welcome-wrap {
  padding: 60vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .welcome .container .welcome-wrap .owner {
  padding: 0 16px;
  border-left: 2px solid #e8bf5d;
}

.hero .welcome .container .welcome-wrap .owner .headline {
  margin-bottom: 16px;
  font-family: "Playfair Display", serif;
  font-size: 65px;
  letter-spacing: 2.6px;
  color: #fff;
}

.hero .welcome .container .welcome-wrap .owner .desc {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  letter-spacing: 1.24px;
  color: #fff;
}

.hero .welcome .container .welcome-wrap .contact-link {
  padding: 16px 46px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #111;
  background-color: #e8bf5d;
  border-radius: 30px;
}

.about-us {
  padding: 80px 0;
  background: #ffffff;
}

.about-us .container .heading {
  max-width: 790px;
  margin-bottom: 50px;
}

.about-us .container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .container .inner .about-info {
  max-width: 560px;
  margin-right: 40px;
}

.about-us .container .inner .about-info h3 {
  margin-bottom: 35px;
  color: #111111;
}

.about-us .container .inner .about-info dl dt, .about-us .container .inner .about-info dl dd {
  font-family: "Open Sans", sans-serif;
  color: #111111;
}

.about-us .container .inner .about-info dl dt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 48px 0 0;
  float: left;
  font-size: 21px;
  font-weight: bold;
}

.about-us .container .inner .about-info dl dd {
  margin-bottom: 40px;
  font-size: 16px;
}

.about-us .container .inner .about-expertise {
  max-width: 490px;
}

.about-us .container .inner .about-expertise h3 {
  margin-bottom: 35px;
}

.about-us .container .inner .about-expertise p {
  line-height: 2.21;
  color: #666666;
}

.practis {
  padding: 80px 0 20px;
  background: #111111;
}

.practis .container .heading-black {
  margin-bottom: 80px;
}

.practis .container .practis-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practis .container .practis-areas .practis-items {
  width: 380px;
  margin: 0 0 72px 180px;
  position: relative;
}

.practis .container .practis-areas .practis-items h3 {
  margin-bottom: 32px;
  color: #ffffff;
}

.practis .container .practis-areas .practis-items p {
  color: #ffffff;
}

.practis .container .practis-areas .private::before {
  content: "\f2b5";
  font-weight: normal;
}

.practis .container .practis-areas .labour::before {
  content: "\f0ad";
}

.practis .container .practis-areas .cyber::before {
  content: "\f108";
}

.practis .container .practis-areas .real::before {
  content: "\f015";
}

.attorney {
  padding: 80px 0 80px;
  background: #ffffff;
}

.attorney .container .heading {
  margin-bottom: 50px;
}

.attorney .container .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.attorney .container .team-list .team + .team {
  margin-left: 30px;
}

.attorney .container .team-list .team img {
  display: block;
  height: 300px;
  width: 270px;
  margin-bottom: 30px;
}

.attorney .container .team-list .team span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  color: #666666;
}

.clients {
  padding: 80px 0 140px;
  background: url("../../img/clients-back.png"), #010101;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clients .container .heading-black {
  margin-bottom: 50px;
}

.clients .container .clients-say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .container .clients-say img {
  margin-right: 100px;
  height: 305px;
  width: 370px;
  display: block;
  -webkit-box-shadow: 20px 20px #e8bf5d;
          box-shadow: 20px 20px #e8bf5d;
}

.clients .container .clients-say .desc-say {
  color: #ffffff;
}

.clients .container .clients-say .desc-say p {
  margin: 35px 0 40px;
  position: relative;
}

.clients .container .clients-say .desc-say p::before {
  content: "“";
  position: absolute;
  left: -45px;
  font-family: "Playfair Display", serif;
  font-size: 96px;
  line-height: 0.6;
  color: rgba(255, 255, 255, 0.25);
}

.clients .container .clients-say .desc-say h3 {
  line-height: 1.71;
}

.clients .container .clients-say .desc-say span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
}

.publications {
  padding: 80px 0 100px;
  background: #ffffff;
}

.publications .container .heading {
  margin-bottom: 50px;
}

.publications .container .publications-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.publications .container .publications-list .publications-item {
  width: 370px;
  border-bottom: 2px solid #e8bf5d;
}

.publications .container .publications-list .publications-item img {
  height: 299px;
  width: 370px;
  display: block;
  margin-bottom: 30px;
}

.publications .container .publications-list .publications-item address, .publications .container .publications-list .publications-item span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #111111;
}

.publications .container .publications-list .publications-item address {
  margin-bottom: 38px;
  line-height: 2.21;
}

.publications .container .publications-list .publications-item address span {
  font-style: italic;
  color: #666666;
}

.publications .container .publications-list .publications-item address .pub-date {
  float: right;
}

.publications .container .publications-list .publications-item p {
  margin-bottom: 40px;
  color: #666666;
}

.publications .container .publications-list .publications-item .pub-com::before {
  content: "\f086  ";
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  color: #111111;
}

.publications .container .publications-list .publications-item .pub-com a {
  color: #111111;
}

.publications .container .publications-list .publications-item .pub-share {
  margin-bottom: 32px;
  float: right;
}

.publications .container .publications-list .publications-item .pub-share::before {
  content: "\f064  ";
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  color: #111111;
}

.publications .container .publications-list .publications-item .pub-share a {
  color: #111111;
}

.question {
  padding: 80px 0 170px;
  background: #111111;
}

.question .container .heading-black {
  margin-bottom: 76px;
}

.question .container .question-wrap {
  width: 500px;
  padding: 46px 46px 66px;
  background: #e8bf5d;
  -webkit-box-shadow: 0 0 40px rgba(232, 191, 93, 0.5);
          box-shadow: 0 0 40px rgba(232, 191, 93, 0.5);
}

.contact {
  padding: 80px 0;
  background: #ffffff;
}

.contact .container .heading {
  margin-bottom: 70px;
}

.contact .container .contact-wrap {
  max-width: 870px;
  margin: 0 auto;
  padding: 50px 36px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .contact-wrap .contact-info {
  height: 365px;
  margin: 20px 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact .container .contact-wrap .contact-info .contact-input, .contact .container .contact-wrap .contact-info .massage {
  font-style: italic;
  border: none;
  border-bottom: 1px solid #b9b9b9;
}

.contact .container .contact-wrap .contact-info .massage {
  height: 83px;
  resize: none;
}

.contact .container .contact-wrap .contact-info .send-massage {
  margin: 0 auto;
  padding: 6px 30px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 30px;
  background: #e8bf5d;
  cursor: pointer;
}

.contact .container .contact-wrap .map {
  height: 360px;
  width: 360px;
  -webkit-box-shadow: -22px 22px #e8bf5d;
          box-shadow: -22px 22px #e8bf5d;
}

.main-footer {
  width: 100%;
  padding: 32px 0;
  background: #111111;
}

.main-footer .container .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
}

.main-footer .container .footer-wrap .copyright {
  color: #b5b5b5;
}

.main-footer .container .footer-wrap .socials {
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer .container .footer-wrap .socials .socials-link {
  color: #fbfbfb;
}
